<p style="color: green"><%= notice %></p>

<%= render "message", object: @message %>

<div>
  <%= link_to "Back to sunaba messages", sunabamail_messages_path %>

  <%= button_to "Destroy this sunaba message", @message, method: :delete, data: { confirm: "OK?", turbo_confirm: "OK?" } %>
</div>
